<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Much To Do About Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

<table class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">MARS</th>
<th title="Field #2">PLANET</th>
<th title="Field #3">PROFILE</th>
<th title="Field #4">FIELD4</th>
<th title="Field #5">FIELD5</th>
</tr></thead>
<tbody><tr>
<td>Equatorial</td>
<td>Diameter:	6,792</td>
<td>km</td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>Polar</td>
<td>Diameter:	6,752</td>
<td>km</td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>Mass:	6.39</td>
<td>×</td>
<td>10^23</td>
<td>kg</td>
<td> </td>
</tr>
<tr>
<td>(0.11</td>
<td>Earths)</td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>Moons:	2</td>
<td>(Phobos</td>
<td>&amp;</td>
<td>Deimos)</td>
<td> </td>
</tr>
<tr>
<td>Orbit</td>
<td>Distance:	227,943,824</td>
<td>km</td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>(1.38</td>
<td>AU)</td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>Orbit</td>
<td>Period:	687</td>
<td>days</td>
<td>(1.9</td>
<td>years)</td>
</tr>
<tr>
<td>Surface</td>
<td>Temperature:	-87</td>
<td>to</td>
<td>-5</td>
<td>°C</td>
</tr>
<tr>
<td>First</td>
<td>Record:	2nd</td>
<td>millennium</td>
<td>BC</td>
<td> </td>
</tr>
<tr>
<td>Recorded</td>
<td>By:	Egyptian</td>
<td>astronomer</td>
<td> </td>
<td> </td>
</tr>
</tbody>
</table>
</body>
</html>